# Python
__pycache__/
*.py[cod]
*.so

# Jupyter
.ipynb_checkpoints/

# Local envs
.venv/
venv/
.env

# macOS
.DS_Store

# Project outputs
outputs/

# Data files (optional/local)
*.xlsx
!static/plantilla_financiera.xlsx
*.xls
*.csv
*.pdf
*.png

# PyInstaller
build/
dist/
*.spec

